* {
  margin:0;
  padding:0;
  border:0;
  opacity: 1.0;
  background-image: url("./images/felt.jpg");
}

.Cards {
  display:flex;
}
.card {
  position: relative;
  background:transparent;
}
.DealerCards {
  justify-content: center;
}

.PlayerCards {
  justify-content: center;
  position: absolute;
  bottom: 150px;
  left: 40%;
  background: transparent;
  
}

.cardSVG {
  width:100px;
}

/* #card2{
  transform: translateX(-80px);
}

#card4 {
  transform: translateX(-80px);
}

#card3 {
  transform: translateX(-160px);
} */

#hit, #stay, #doubleDown, #split, #ready {
  cursor: pointer;
  height: 50px;
  width: 200px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: black;
  position: absolute;
  /* left: 40%; */
  background: transparent;
  background-color: #800020;
  /* background-blend-mode: soft-light; */
  color: #efe9e9;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.buttons {
  position: absolute;
  left: 35%;
  bottom: 60px;
  display: grid;
  grid-template-columns: 205px 205px;
  grid-template-rows: 55px 55px;
  background: transparent;
  border-color: black;
  border-style: solid;
}

.ReadyButton {
  position: absolute;
  left: 70%;
  bottom: 30px;
  display: grid;
  grid-template-columns: 205px 205px;
  grid-template-rows: 55px 55px;
  background: transparent;
  border-color: black;
  border-style: solid;
}

.buttonContainer {
  background:transparent;
}
/* #hit {
  bottom: 60px;

}

#stay {
  bottom: 10px;
}

#doubleDown {
  bottom: 60px;
  left: 600px;
}

#split {
  bottom: 10px;
  left: 600px;
} */