* {
  margin:0;
  padding:0;
  border:0;
  opacity: 1.0;
  background-image: url("./images/felt.jpg");
}

.Cards {
  display:flex;
}

.DealerCards {
  justify-content: center;
}

.PlayerCards {
  justify-content: center;

  position: absolute;
  bottom: 150px;
  left: 40%;
  background: transparent;
  
}

.cardSVG {
  width:100px;
}

/* #card2{
  transform: translateX(-80px);
}

#card4 {
  transform: translateX(-80px);
}

#card3 {
  transform: translateX(-160px);
} */

#hit, #stay {
  cursor: pointer;
  height: 50px;
  width: 200px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: black;
  position: absolute;
  left: 40%;
}

#hit {
  bottom: 60px;

}

#stay {
  bottom: 10px;
}