* {
  margin:0;
  padding:0;
  border:0;
  background-image: url("./images/felt.jpg");
}

.Cards {
  display:flex;
  justify-content: flex-start;
}

/* .player1 {
  flex:1;
} */

.cardSVG {
  width:100px;
}

#hit, #stay {
  cursor: pointer;
  height: 50px;
  width: 200px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: black;
}